@import url('./lb_all.css');

.row-3{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:clamp(8px,2vw,12px);
  margin-bottom:12px;
}

.icon-preview{
  display:flex;
  gap:12px;
  align-items:center;
  margin-bottom:12px;
}
.icon-preview img{
  width:64px;
  height:64px;
  object-fit:contain;
  border-radius:12px;
  border:1px solid var(--border);
}
